<% provide(:title, "Quote") %>

<div class="row">
	<div class="twelve columns">
		<h1 class="Quote">Get a Quote</h1>
	</div>
</div>
<div class="row">
	<div class="eight columns centered">
		<div class="shadow">
			<h4 class="ticket Quote">Quote Ticket</h4>
			<%= render 'quotes/form' %>
		</div>
	</div>
</div>
