<% provide(:title, "Quote") %>

<div class="row">
	<div class="twelve columns">
		<h1 class="Quote">Get a Quote</h1>
	</div>
</div>
<div class="row">
	<div class="eight columns centered">
		<div class="row quoter">
			<div class="ten columns offset-by-two">
				<h2>Tell us what you're looking for.</h2>
		    	<h3 class="subheader right">We're looking forward to working with you!</h3>
		    </div>
		</div>
		<%= render 'quotes/form' %>
	</div>
</div>
<%= javascript_tag do %>
  analytics.track('Visited Quote Page');
<% end %>