<% provide(:title, "Quote") %>

<div class="row">
	<div class="large-12 columns">
		<h2 class="title Quote">Get a Quote</h2>
	</div>
</div>
<div class="row">
	<div class="large-8 columns large-centered">
		<div class="row quoter">
			<div class="large-10 large-offset-2 columns">
				<h2>Tell us what you're looking for.</h2>
		    	<h3 class="subheader right">We're looking forward to working with you!</h3>
		    </div>
		</div>
		<%= render '/quotes/form' %>
	</div>
</div>
<%= javascript_tag do %>
  mixpanel.track('Quote');
<% end %>