<div class="large-3 columns ppicture">
	<div>
	  <%= image_tag product_picture.picture %>
	  <h3><%= product_picture.name.to_s %></h3>
	  <span>
	    <%= link_to "edit", edit_product_picture_path(product_picture) %> |
	    <%= link_to "remove", product_picture, :confirm => 'Are you sure?', :method => :delete %>
	  </span>
	</div>

</div>