<% provide(:title, "New Service Call") %>

<div class="mcontainer">
	<div class="twelve columns">
		<div class="row">
			<div class="five columns">
				<h4 class="ServiceCall">Place a Service Call</h4>
				<h5 class="subheader">Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla.</h5>
			</div>
			<div class="seven columns shadow">
				<div class="row">
					<h4 class="ticket ServiceCall">Place a Service Call</h4>
				</div>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
