<% provide(:title, "New Meter") %>

<div class="mcontainer">
	<div class="twelve columns">
		<div class="row">
			<div class="five columns">
				<h4 class="Meter">Submit a Meter Reading</h4>
				<h5 class="subheader">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</h5>
			</div>
			<div class="seven columns shadow">
				<div class="row">
					<h4 class="ticket Meter">Meter Reading</h4>
				</div>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
