<% provide(:title, "New Meter") %>

<div class="mcontainer">
	<div class="twelve columns">
		<div class="row">
			<div class="five columns">
				<h4 class="Meter">Submit a Meter Reading</h4>
				<h5>We need 3 things from you:</h5>
				<ol>
					<li>Your contact information</li> 
					<li>The SOS# of the machine  <span class="subheader">(if you have it)</span></li> 
					<li>Meter Reading</li> 
				</ol>
				<p>If you have any trouble, feel free to call us or leave us a comment at the bottom of the page.</p>
			</div>
			<div class="seven columns shadow">
				<div class="row">
					<h4 class="ticket Meter">Meter Reading</h4>
				</div>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
