<div class="row">
	<h1>User</h1>

	<p><strong>Email:</strong> <%= @user.email %></p>

	<%= link_to 'All Users', users_path %> |
	<%= link_to 'Edit User', edit_user_path(@user) %> |
	<%= link_to 'Delete User', user_path(@user), :method => 'delete', :confirm => 'Are you sure?' %>
</div>