<% provide(:title, "New Supply Order") %>
<div class="mcontainer">
	<div class="twelve columns">
		<div class="row">
			<div class="five columns">
				<h4 class="SupplyOrder">Place a Supply Order</h4>
				<h5 class="subheader">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo.</h5>
			</div>
			<div class="seven columns shadow">
				<div class="row">
					<h4 class="ticket SupplyOrder">Supply Order</h4>
				</div>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>

