<div class="eoys">
	<div class="specials">
		<div class="row">
			<div class="large-12 columns">
				<h1>Year End Specials!</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<div class="special">
				<h2 class="name"><a href="/products/mfx-3510">Muratec MFX-3510</a></h2>
				<img alt="Main_mfx-3510" src="http://assets.simplifybest.com/uploads/product/image/42/main_MFX-3510.png">
				<h3 class="description">Copy, Fax, Print & Scan at 37 ppm</h3>
				<h2 class="price"><span>$3,495.00</span> $950.00</h2>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="special">
				<h2 class="name"><a href="/products/fs-4200dn">Kyocera FS-4200DN</a></h2>
				<img alt="Main_fs-4200dn7.-imagelibitem-single-enlarge.imagelibitem" src="http://assets.simplifybest.com/uploads/product/image/28/main_fs-4200dn7.-imagelibitem-Single-Enlarge.imagelibitem.jpg">
				<h3 class="description">Network Print at 42 ppm</h3>
				<h2 class="price"><span>$1,629.00</span> $1,095.00</h2>
			</div>
		</div>
	</div>
</div>
<div class="homephrase">
	<div class="row">
		<div class="large-9 columns">
			<h2 class="tagline subheader">Great products backed by the best support in the Omaha area.</h2>
		</div>
		<div class="large-3 columns">
			<a class="button success" href="/getaquote"><h2 class="Quote subheader">Get a Quote</h2></a>
		</div>
	</div>
</div>