<% provide(:title, 'Color Cost Estimator') %>

<div class="row">
	<div class="twelve columns">
		<h1 class="Quote">Color Cost Estimator</h1>
	</div>
</div>
<div class="bread row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
			<li><%= link_to "Home", root_url %></li>
			<li><%= link_to "Tools", "#" %></li>
			<li class="current"><%= link_to "Color Cost Estimator", estimator_path %></li>
		</ul>
	</div>
</div>

<div class="estimator" ng-app="estimator" ng-controller="EstimatorCtrl">
	<div class="row">
		<div class="twelve columns" style="text-align: center;">
			<h2 class="subheader">How Much Could You Save with ¢3 Color Prints?</h2>
			<p class="subheader">Simplified Office Solutions is offering color prints for as low as $0.03 per page! Check out how much you could be saving.</p>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="eight columns centered">
			<form name="estimate">
				<div class="row">
					<div class="twelve columns">
						<h3 class="cntrd">How much are you paying per month?</h3>
						<h5 class="cntrd subheader"><a href="#" class="pers">( Need help estimating your cost per print? )</a></h5>
					</div>
				</div>

				<div class="cpc">
					<div class="row">
						<div class="twelve columns">
							<h4 class="cntrd">How much are you paying per color print?</h4>
							<a class="close-cpc right">×</a>
						</div>
					</div>
					<div class="row">
						<div class="twelve columns">
							<p><input type="checkbox" ng-model="toner" ng-change="noToner()"> Do You pay for Toner?</p>
						</div>
					</div>
					<div ng-show="toner">
						<div class="row">
							<div class="six columns">
								<p class="right inline">How much are you paying for color toner(s)? </p>
							</div>
							<div class="six columns">
								<input type="number" name="tonercost" ng-model="tonercost" placeholder="200.00" required>
							</div>
						</div>

						<div class="row">
							<div class="six columns right inline">
								<p class="right inline">How many prints does the toner last you?</p>
							</div>
							<div class="six columns">
								<input type="number" name="toneryield" ng-model="toneryield" placeholder="1000" required>
							</div>
						</div>

						<div class="row" ng-show="estimate.tonercost.$valid && estimate.toneryield.$valid">
							<div class="six columns right inline">
								<p class="right inline">Toner Cost Per Color Print: </p>
							</div>
							<div class="six columns">
								<p><strong>{{ tonerCPC() | currency }}</strong></p>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="twelve columns">
							<p><input type="checkbox" ng-model="drum" ng-change="noDrum()"> Do You pay for Drums?</p>
						</div>
					</div>
					<div ng-show="drum">
						<div class="row">
							<div class="six columns">
								<p class="right inline">How much are you paying for color drums? </p>
							</div>
							<div class="six columns">
								<input type="number" name="drumcost" ng-model="drumcost" placeholder="200.00" required>
							</div>
						</div>

						<div class="row">
							<div class="six columns right inline">
								<p class="right inline">How many prints do the drums last you?</p>
							</div>
							<div class="six columns">
								<input type="number" name="drumyield" ng-model="drumyield" placeholder="1000" required>
							</div>
						</div>

						<div class="row" ng-show="estimate.drumcost.$valid && estimate.drumyield.$valid">
							<div class="six columns right inline">
								<p class="right inline">Drum Cost Per Color Print: </p>
							</div>
							<div class="six columns">
								<p><strong>{{ drumCPC() | currency }}</strong></p>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="twelve columns">
							<p><input type="checkbox" ng-model="pm" ng-change="noPm()"> Do You pay for PM Kits?</p>
						</div>
					</div>
					<div ng-show="pm">
						<div class="row">
							<div class="six columns">
								<p class="right inline">How much are you paying for a PM Kit? </p>
							</div>
							<div class="six columns">
								<input type="number" name="pmcost" ng-model="pmcost" placeholder="200.00" required>
							</div>
						</div>

						<div class="row">
							<div class="six columns right inline">
								<p class="right inline">How many prints do the PM Kits last you?</p>
							</div>
							<div class="six columns">
								<input type="number" name="pmyield" ng-model="pmyield" placeholder="1000" required>
							</div>
						</div>

						<div class="row" ng-show="estimate.pmcost.$valid && estimate.pmyield.$valid">
							<div class="six columns right inline">
								<p class="right inline">PM Kit Cost Per Color Print: </p>
							</div>
							<div class="six columns">
								<p><strong>{{ pmCPC() | currency }}</strong></p>
							</div>
						</div>
					</div>
					<div class="s" ng-show="toner || drum || pm">
						<hr>
						<div class="row">
							<div class="six columns right inline">
								<p class="right inline">Total Cost Per Color Print: </p>
							</div>
							<div class="six columns">
								<p><a href="" ng-click="toCPC(totalcpc)" class="has-tip tip-top noradius s" title="Use This Number to Calculate Monthly Costs.">
									{{ totalCPC() | currency}}
								</a></p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="six columns">
						<p class="right inline"><a class="per has-tip noradius" href="#" title="Calculate your cost per print.">How much are you paying per color print?</a></p>
					</div>
					<div class="six columns">
						<input type="number" name="cpc" ng-model="cpc" placeholder="0.10" required>
					</div>
				</div>
			
				<div class="row">
					<div class="six columns right inline">
						<p class="right inline">How many prints do you make per month?</p>
					</div>
					<div class="six columns">
						<input type="number" name="monthly" ng-model="monthly" placeholder="1000" required>
					</div>
				</div>
				<div>
					<div class="row">
						<div class="six columns right inline">
							<p class="right inline">Total Monthly Cost:</p>
						</div>
						<div class="six columns">
							<p ng-show="estimate.cpc.$valid && estimate.monthly.$valid"><strong>{{ cpc * monthly | currency}}</strong></p>
							<p ng-hide="estimate.cpc.$valid && estimate.monthly.$valid">{{ 0.10 * 1000 | currency}}</p>
						</div>
					</div>
					<div class="row" ng-show="estimate.cpc.$valid && estimate.monthly.$valid">
						<div class="six columns right inline">
							<p class="right inline">- Simplified Monthly Cost ( $0.03 * {{ monthly }} ) : </p>
						</div>
						<div class="six columns">
							<p><strong>{{ 0.03 * monthly | currency}}</strong></p>
						</div>
						<hr>
					</div>
					<div class="row s" ng-show="estimate.cpc.$valid && estimate.monthly.$valid">
						<div class="six columns right inline">
							<p class="right inline">Monthly Savings:</p>
						</div>
						<div class="six columns">
							<p><strong>{{ (cpc * monthly) - (0.03 * monthly) | currency}}</strong></p>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
				<div class="savings" ng-show="estimate.cpc.$valid && estimate.monthly.$valid">
					<h3>With <span class="s">Simplified's</span> low $0.03 per color page, you could be saving {{ (cpc * monthly) - (0.03 * monthly) | currency }} per month!</h3>
					<a class="getaquote" href="/getaquote"><h3>Get a Free Quote Today</h3></a>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_tag do %>
  analytics.track('Viewed Estimator');
<% end %>
