<style>
  table { border: none; }
  .top-bar { margin: 0; }
  .wrapper h1 { color: #fff; }
  .wrapper h3 { color: #fff; }
  .wrapper { height:250px; background: #356201; text-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;}
  .prodnav { z-index: 10; background: #fff; text-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;}
  .prodnav li { list-style: none; float: left; padding: 5px;}
  .active { color:red; }

  .orbit-bullets li.has-thumb { width: 100px; height: 75px; }
</style>
<div class="wrapper">
  <div class="row">
    <h1>TASKalfa 3050ci</h1>
    <h3>30 ppm Color Multifunctional 12 x 18 Unit </h3>
  </div>
</div>

<div class="row">
  <ul class="prodnav twelve" data-magellan-expedition>
    <li data-magellan-arrival='overview'>Overview</li>
    <li data-magellan-arrival='gallery'>Gallery</li>
    <li data-magellan-arrival='specifications'>Specifications</li>
    <li data-magellan-arrival='accessories'>Accessories</li>
    <li data-magellan-arrival='downloads'>Downloads</li>
  </ul>
</div>

<div class="row" data-magellan-destination='overview'>
  <h3>Overview</h3>
  <div class="four columns">
    <img src="/assets/TASKalfa3050ci/02.jpg" />
  </div>
  <div class="eight columns">
    <p>Created to provide superior functionality to meet the full range of your day-to-day document imaging needs, the TASKalfa 3050ci incorporates robust productivity at 30 ppm black and color, flexible configurations and vibrant image quality. Spectacular color technology and professional finishing options offer you the ability to reduce outsourcing costs by keeping shorter runs of production-quality printed pieces in-house, while an EFI Fiery® Controller option enables you to incorporate the highest level of color output you may require for those special projects. Integrated business applications provide the added power and capabilities to help simplify your document workflow.</p>
    <p>Kyocera’s award-winning ultra-reliability and unique long-life technology ensure superior performance, proven productivity and maximum efficiency. When it comes to document imaging innovation and quality you can rely on, the TASKalfa 3050ci delivers.</p>
  </div>
</div>

<div class="row" data-magellan-destination='gallery'>
  <h3>Gallery</h3>
  <div class="twelve columns">
    <ul class="block-grid eight-up mobile-two-up" data-clearing>
      <li><img src="assets/TASKalfa3050ci/00.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/01.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/03.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/04.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/05.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/06.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/07.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/08.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/09.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/10.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/11.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/12.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/14.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/15.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/16.jpg"></li>
      <li><img src="assets/TASKalfa3050ci/17.jpg"></li>
    </ul>
  </div>
</div>



<div class="row" data-magellan-destination='specifications'>
  <h3>Specifications</h3>
    <dl class="tabs contained four-up">
      <dd class="active"><a href="#general">General Specifications</a></dd>
      <dd><a href="#papersupply">Paper Supply</a></dd>
      <dd><a href="#print">Print Specifications</a></dd>
      <dd><a href="#scan">Scan Specifications</a></dd>
    </dl>
    <ul class="tabs-content contained">
      <li class="active" id="generalTab">
          <table style="width: 100%;"> 
            <tbody>
              <tr>
                <td><b>Configuration</b></td>
                <td>Color Multifunctional System – Print/Scan/Copy/Optional Fax</td>
              </tr>
              <tr>
                <td><b>Speed</b></td>
                <td>Color and Black - Letter: 30 ppm, Legal: 18 ppm, Ledger: 15 ppm, 12" x 18": 15 ppm (print only)</td>
              </tr>
              <tr>
                <td><b>Warm-up Time</b></td>
                <td>25 Seconds or Less (Power On)</td>
              </tr>
              <tr>
                <td><b>First Page Out</b></td>
                <td>Copy: 6.2 Seconds or Less Black, 8.1 Seconds or Less Color; Print: 7.3 Seconds or Less Black, 9.5 Seconds or Less Color</td>
              </tr>
              <tr>
                <td><b>Resolution</b></td>
                <td>600 x 600 dpi; 9600 x 600 dpi interpolated</td>
              </tr>
              <tr>
                <td><b>Memory</b></td>
                <td>2 GB RAM Standard</td>
              </tr>
              <tr>
                <td><b>Hard Disk Drive</b></td>
                <td>160 GB HDD</td>
              </tr>
              <tr>
                <td><b>Duplex</b></td>
                <td>Standard Stackless Duplex Supports Statement to 12" x 18", 16 lb Bond - 120 lb Index (60 – 220gsm)</td>
              </tr>
              <tr>
                <td><b>Standard Output Tray</b></td>
                <td>Statement - 12” x 18” / 250 sheets; up to 12” x 47” Banner/Single Sheet</td>
              </tr>
              <tr>
                <td><b>Electrical</b></td>
                <td>120V, 60Hz, 12.0A</td>
              </tr>
              <tr>
                <td><b>Dimensions</b></td>
                <td>26.30" W x 30.20" D x 29.41" H</td>
              </tr>
              <tr>
                <td><b>Weight</b></td>
                <td>251.33 lbs</td>
              </tr>
              <tr>
                <td><b>Max Duty Cycle</b></td>
                <td>150,000 Pages Per Month</td>
              </tr>
            </tbody>
          </table>
      </li>
      <li id="papersupplyTab">
          <table style="width: 100%;"> 
            <tbody>
              <tr>
                <td><b>Standard Paper Sources</b></td>
                <td>Dual 500 Sheet Trays, 150 Sheet MPT; Auto Selection/Switching</td>
              </tr>
              <tr>
                <td><b>Optional Paper Sources</b></td>
                <td>Dual 500 Sheet Trays (PF-730), Dual 1,500 Sheet Trays (PF-740); 3,000 Sheet Large Capacity Tray (PF-770)</td>
              </tr>
              <tr>
                <td><b>Paper Capacity</b></td>
                <td>Standard: 1,150 Sheets; Maximum: 7,150 Sheets</td>
              </tr>
              <tr>
                <td><b>Paper Size</b></td>
                <td>Trays 1, 2 and PF-730: 5.5" x 8.5" – 12" x 18"; PF-740, PF-770: 8.5" x 11"; MPT: 5.5" x 8.5" – 12" x 18" (Multiple Sheets); Up to 12” x 47” Banner (Single Sheet)</td>
              </tr>
              <tr>
                <td><b>Paper Weight</b></td>
                <td>Trays: 16 lb Bond – 120 lb index (60 – 220gsm); MPT: 16 lb Bond – 110 lb Cover (60 – 300gsm)</td>
              </tr>
              <tr>
                <td><b>Input Materials</b></td>
                <td>Bond Paper, Recycled Paper, Transparencies, Cardstock, Envelopes</td>
              </tr>
            </tbody>
          </table>
      </li>
      <li id="printTab">
          <table style="width: 100%;"> 
            <tbody>
              <tr>
                <td><b>Standard Controller</b></td>
                <td>IBM PowerPC 750CL / 600 MHz</td>
              </tr>
              <tr>
                <td><b>PDLs / Emulations</b></td>
                <td>PRESCRIBE, PCL6 (5c, XL), KPDL3 (PS3), XPS; Optional: UG–34 IBM ProPrinter, Diablo 630, LQ-850</td>
              </tr>
              <tr>
                <td><b>Fonts</b></td>
                <td>136 KPDL3, 93 PCL6, 8 Windows Vista, 1 Bitmap</td>
              </tr>
              <tr>
                <td><b>Windows OS Compatibility</b></td>
                <td>Windows XP/2003/Vista/2008/7</td>
              </tr>
              <tr>
                <td><b>Novell OS Compatibility</b></td>
                <td>Novell NetWare 3.x/4.x/5.x/6.x</td>
              </tr>
              <tr>
                <td><b>MAC OS Compatibility</b></td>
                <td>Mac OS 10.x</td>
              </tr>
              <tr>
                <td><b>UNIX OS Compatibility</b></td>
                <td>Sun OS 4.1.x; Solaris 2.x; AIX; HP-UX (LPR)</td>
              </tr>
              <tr>
                <td><b>Interfaces</b></td>
                <td>Standard: 10/100/1000BaseTX, Hi-Speed USB 2.0, 2 USB Host Interfaces, 2 Expansion Slots <br />Optional: 10/100/1000BaseTX (IB-50 for Dual NIC)</td>
              </tr>
              <tr>
                <td><b>Network Print and Supported Protocols</b></td>
                <td>TCP/IP, IPX/SPX, AppleTalk, NetBEUI, IPv6, IPsec, SSL, WSD Print</td>
              </tr>
              <tr>
                <td><b>Drivers</b></td>
                <td>KX Driver, Mini Driver, KX Driver for XPS, XPS Mini Driver, Network Fax Driver, PPD for MAC</td>
              </tr>
              <tr>
                <td><b>Utilities</b></td>
                <td>PRESCRIBE, PDF Direct Print, KMnet Admin, KMnet Viewer, Kyocera Command Center RX</td>
              </tr>
            </tbody>
          </table>
      </li>
      <li id="scanTab">
          <table style="width: 100%;"> 
            <tbody>
              <tr>
                <td><b>Scan Resolution</b></td>
                <td>200, 300, 400, 600 dpi</td>
              </tr>
              <tr>
                <td><b>File Formats</b></td>
                <td>BW: TIFF, XPS, PDF, PDF/A; Color: TIFF, JPEG, XPS, PDF, PDF/A</td>
              </tr>
              <tr>
                <td><b>PDF Extension</b></td>
                <td>High Compression PDF, Encrypted PDF</td>
              </tr>
              <tr>
                <td><b>Scan Speeds</b></td>
                <td>DP-770: Simplex: 65 ipm BW, 65 ipm Color (300 dpi); Duplex: 39 ipm BW, 39 ipm Color (300 dpi) <br />DP-771: Simplex: 70 ipm BW, 70 ipm Color (300 dpi); Duplex: 100 ipm BW, 80 ipm Color (300 dpi)</td>
              </tr>
              <tr>
                <td><b>Connectivity / Supported Protocols</b></td>
                <td>10/100/1000BaseTX, TCP/IP</td>
              </tr>
              <tr>
                <td><b>Scanning Functions</b></td>
                <td>Scan to Folder (SMB), Scan to e-Mail, Scan to FTP, Scan to USB, WSD Scan, TWAIN Scan</td>
              </tr>
              <tr>
                <td><b>Original Size</b></td>
                <td>Through DP: Statement to 11" x 17"; Glass: up to 11" x 17"</td>
              </tr>
              <tr>
                <td><b>Driver</b></td>
                <td>TWAIN/WIA Driver</td>
              </tr>
            </tbody>
          </table>
      </li>
    </ul>
</div>


<div class="row">

  
  <div class="six columns">
    <h4 data-magellan-destination='accessories'>Accessories</h4>
    <table style="width: 100%;"> 
      <tbody>
        <tr>
          <td><b>DP-771</b></td>
          <td>175 Sheet Dual Scan Document Processor</td>
        </tr>
        <tr>
          <td><b>DP-770</b></td>
          <td>100 Sheet Reversing Automatic Document Processor</td>
        </tr>
        <tr>
          <td><b>DF-770</b></td>
          <td>1,000 Sheet Finisher</td>
        </tr>
        <tr>
          <td><b>DF-790</b></td>
          <td>4,000 Sheet Finisher</td>
        </tr>
        <tr>
          <td><b>BF-730</b></td>
          <td>Booklet and Tri Folding Unit for DF-790</td>
        </tr>
        <tr>
          <td><b>MT-730</b></td>
          <td>7 Bin Mailbox for 4,000 Sheet Finisher</td>
        </tr>
        <tr>
          <td><b>PH-7A</b></td>
          <td>2/3 Hole Punch Unit for either Finisher</td>
        </tr>
        <tr>
          <td><b>JS-731</b></td>
          <td>Outer Job Separator</td>
        </tr>
        <tr>
          <td><b>JS-730</b></td>
          <td>Inner Job Separator</td>
        </tr>
        <tr>
          <td><b>PF-770</b></td>
          <td>3,000 Sheet Side Large Capacity Tray - Letter</td>
        </tr>
        <tr>
          <td><b>PF-780</b></td>
          <td>500 Sheet Side Multi-Media Tray</td>
        </tr>
        <tr>
          <td><b>PF-730</b></td>
          <td>Dual 500 Sheet Paper Trays</td>
        </tr>
        <tr>
          <td><b>PF-740</b></td>
          <td>Dual 1,500 Sheet Paper Trays</td>
        </tr>
        <tr>
          <td><b>Fax System(V)</b></td>
          <td>Fax Board</td>
        </tr>
        <tr>
          <td><b>Internet FAX Kit (A)</b></td>
          <td>Internet FAX Kit</td>
        </tr>
        <tr>
          <td><b>Printed Document Guard Kit (A)</b></td>
          <td>Printed Document Guard</td>
        </tr>
        <tr>
          <td><b>Data Security Kit (E)</b></td>
          <td>Hard Drive Encryption/Overwrite Kit</td>
        </tr>
        <tr>
          <td><b>Keyboard Holder (A)</b></td>
          <td>Keyboard Tray Kit</td>
        </tr>
        <tr>
          <td><b>UG-34</b></td>
          <td>Optional Printer Emulation for IBM Prorinter, Epson LQ-850, Diabro 630</td>
        </tr>
        <tr>
          <td><b>IB-50</b></td>
          <td>Gigabit EtherNet Board for Dual NIC</td>
        </tr>
        <tr>
          <td><b>Card Reader Holder(B)</b></td>
          <td>HID Card Reader Holder for Card Authentication Kit(B)</td>
        </tr>

        <tr>
          <td><b>MM-16-128</b></td>
          <td>Additional Fax Memory Board</td>
        </tr>
        <tr>
          <td><b>SD-144-1G(A)</b></td>
          <td>1GB SDRAM MEMORY</td>
        </tr>


      </tbody>
    </table>
  </div>
  
  <div class="six columns">
    <h4 data-magellan-destination='supplies'>Supply Items</h4>
    <table style="width: 100%;"> 
      <thead>
        <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Print Yield</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TK-8307K</td>
          <td>Black Toner</td>
          <td>25K Yield</td>
        </tr>
        <tr>
          <td>TK-8307C</td>
          <td>Cyan Toner</td>
          <td>15K Yield</td>
        </tr>
        <tr>
          <td>TK-8307Y</td>
          <td>Yellow Toner</td>
          <td>15K Yield</td>
        </tr>
        <tr>
          <td>TK-8307M</td>
          <td>Magenta Toner</td>
          <td>15K Yield</td>
        </tr>
        <tr>
          <td>MK-8305A</td>
          <td>Maintenance Kit <br />( Drum/Developer(K)/Transfer Unit )</td>
          <td>600K Yield</td>
        </tr>
        <tr>
          <td>MK-8305B</td>
          <td>Maintenance Kit <br />( 3x Drums/Developers(CMY) )</td>
          <td>600K Yield</td>
        </tr>
        <tr>
          <td>MK-8305C</td>
          <td>Maintenance Kit <br />( Fuser Unit )</td>
          <td>300K Yield</td>
        </tr>
        <tr>
          <td>WT-860</td>
          <td>Waste Toner Box</td>
          <td>25K Yield</td>
        </tr>
       

      </tbody>
    </table>
  </div>
</div>

<div class="row">

  <div class="twelve columns" data-magellan-destination='downloads'>
    <h3>Downloads</h3>
    <table style="width: 100%;"> 
      <tbody>
        <tr>
          <td><b>Specification</b></td>
          <td>This is the specification content</td>
        </tr>
        <tr>
          <td><b>Specification</b></td>
          <td>This is the specification content</td>
        </tr>
        <tr>
          <td><b>Specification</b></td>
          <td>This is the specification content</td>
        </tr>
        <tr>
          <td><b>Specification</b></td>
          <td>This is the specification content</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
