<style>
  .gallery li { float: left; margin:5px;}
  .gallery li img { height:150px; cursor: pointer; }

  .wrapper h1 { float:left; color: #fff; }
  .wrapper { background: #000; }
  .prodnav { background: #fff; }
  .prodnav li { list-style: none; float: left; padding: 5px;}
  .active { color:red; }
</style>
<div class="wrapper">
  <div class="row">
    <h1>TASKalfa 3050ci</h1>
  </div>
</div>

<div class="row">
  <ul class="prodnav twelve" data-magellan-expedition='fixed'>
    <li data-magellan-arrival='general1'>General 1</li>
    <li data-magellan-arrival='general2'>General 2</li>
    <li data-magellan-arrival='general3'>General 3</li>
    <li data-magellan-arrival='general4'>General 4</li>
    <li data-magellan-arrival='gallery'>Gallery</li>
  </ul>
</div>


<div class="row" data-magellan-destination='general1'>
  <h3>General 1</h3>
  <table class="twelve">
    <tbody>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" data-magellan-destination='general2'>
  <h3>General 2</h3>
  <table class="twelve">
    <tbody>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" data-magellan-destination='general3'>
  <h3>General 3</h3>
  <table class="twelve">
    <tbody>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row"  data-magellan-destination='general4'>
  <h3>General 4</h3>
  <table class="twelve">
    <tbody>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
      <tr>
        <td><b>Specification</b></td>
        <td>This is the specification content</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row"  data-magellan-destination='gallery'>
  <h3>Gallery</h3>
  <ul class="gallery" data-clearing>
    <li><img src="/assets/TASKalfa3050ci/00.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/01.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/02.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/03.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/04.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/05.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/06.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/07.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/08.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/09.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/10.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/11.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/12.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/14.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/15.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/16.jpg" /></li>
    <li><img src="/assets/TASKalfa3050ci/17.jpg" /></li>
  </ul>
</div>

