<% provide(:title, 'Home') %>

<div class="container home-content">
	<div class="box homepage">
		<div class="row">
			<h2 class="fas">Featured at Simplified:</h2>
			<div id="featured">
				<img src="/assets/featured/1.jpg">
				<img src="/assets/featured/2.jpg">
				<img src="/assets/featured/3.jpg">
				<img src="/assets/featured/4.jpg">
			</div>
		</div>
		<div class="row">
			<div class="eight columns" style="border-right: #ccc dotted thin;">
				<% 10.times do |i| %>
				<h3>Featured Item <%= i %></h3>
				<h5 class="subheader">Featured Item <%= i %> is just so cool and stuff...</h5>
				<% end %>
			</div>
		    <div class="four columns">
		    	<div class="large">
			      <dl>
			        <dt><h4><i class="accessibility foundicon-adult"></i>Expert Service</h4></dt>
			        <dd><h5 class="subheader">A way to tell the world about the people that worked on the sites you build, giving them kudos they deserve.</h5></dd>
			      </dl>
				</div>
		    </div>
		</div>
	</div>
</div>

