<style>
	.homepage-placeholder { height:730px; background: url('assets/linen.png') repeat; }
	.top-bar { margin:0; }

	h1.super { color: white; font-size: 100px; line-height: 100px; margin-bottom: 12px; }
	h1.super.last-line { color:#d00; }

</style>

<div class="container homepage-placeholder random-2">
	<div class="row">
		<div class="twelve columns">
			<div class="homepage-copy">
				<h1 class="extra-bold super">Copiers</h1>
				<h1 class="extra-bold super">Printers</h1>
				<h1 class="extra-bold super">Scanners</h1>
				<h1 class="extra-bold super last-line">Simplified.</h1>		
			
			</div>
		</div>
	</div>
</div>

<div class="container main-content">
	<div class="container-overlap homepage">
		<div class="row">
			<div class="twelve collumns" style="height:1000px;">
			</div>
		</div>
	</div>
</div>
