<% provide(:title, 'Copiers and Printers in Omaha') %>

<%= render "specials" %>

<section class="featured">
	<div class="row">
		<div class="large-12 columns">
			<h2 class="title">Featured Products</h2>
		</div>
		<div class="large-12 columns">
		    <ul class="large-block-grid-4 small-block-grid-2">
		      <% for product in @featured_products %>
				<%= render 'products/product', product: product %>
		      <% end %>
		    </ul>
		</div>
	</div>
</section>

<section class="newsletter">
  <div class="row">
    <div class="large-7 columns">
      <p class="comment subheader">Sign up for our Monthly Specials!</p>
    </div>
    <div class="large-5 columns">
		<form action="http://simplifybest.us7.list-manage.com/subscribe/post?u=0520304538750e6d8a5e796e0&amp;id=df6de47979" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div class="row collapse">
				<div class="large-9 small-8 columns">
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="me@example.com" required>
				</div>
				<div class="large-3 small-4 columns">
					<button type="submit" class="small button expand" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
				</div>
			</div>
		</form>
  </div>
</section>

<%= javascript_tag do %>
	mixpanel.track('Home Page');
<% end %>