<div class="row">
	<h1>Home</h1>
	<p>Welcome to <a href="http://www.simplifybest.com/">Simplified Office Solutions'</a> new website.
	<p>I'll be updating it live to <a href="http://new.simplifybest.com/">new.simplifybest.com</a>
	<p>Please <a href="#" data-reveal-id="myModal">contact me</a> if you find anything weird or have any comments 

	<div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
	  <h2>My name is Alex Rock</h2>
	  <p class="lead">Email me: <a href="mailto:alex@simplifybest.com">alex@simplifybest.com</a></p>
	  <a class="close-reveal-modal">&#215;</a>
	</div>

	<h2>Current Technologies in Use:</h2>
	<ul>
		<li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
		<li><a href="http://foundation.zurb.com/">Foundation 3</a></li>
		<li><a href="http://www.heroku.com/">Heroku</a></li>
	</ul>
</div>
