<% provide(:title, 'Home') %>

<div class="home-placeholder">
	<div class="row">
		<div class="eight columns offset-by-four">
			<div class="homepage-copy">
				<h1 class="extra-bold super">Copiers</h1>
				<h1 class="extra-bold super">Printers</h1>
				<h1 class="extra-bold super">All-in-One</h1>		
			</div>
		</div>
	</div>
</div>

<div class="container home-content">
	<div class="box homepage page">
		<div class="row">
			<div class="eight columns offset-by-four">
				<h1 class="extra-bold super last-line">Simplified.</h1>
			</div>
		</div>
		<div class="row">
			<div id="featured">
				<img src="http://placehold.it/1000x350/fff/000">
				<img src="http://placehold.it/1000x350/000/fff">
				<img src="http://placehold.it/1000x350/fff/d00">
				<img src="http://placehold.it/1000x350/d00/fff">
			</div>
		</div>
	</div>
</div>
