<div class="box">
    
    <div class="row">
        <div class="twelve columns">
            <h2>General Set</h2>
            <ul class="icons">
        	   <li><i class="general foundicon-settings"><p>settings</p></i></li>
        		<li><i class="general foundicon-heart"><p>heart</p></i></li>
                <li><i class="general foundicon-star"><p>star</p></i></li>
                <li><i class="general foundicon-plus"><p>plus</p></i></li>
                <li><i class="general foundicon-minus"><p>minus</p></i></li>
                <li><i class="general foundicon-checkmark"><p>checkmark</p></i></li>
                <li><i class="general foundicon-remove"><p>remove</p></i></li>
                <li><i class="general foundicon-mail"><p>mail</p></i></li>
                <li><i class="general foundicon-calendar"><p>calendar</p></i></li>
                <li><i class="general foundicon-page"><p>page</p></i></li>
                <li><i class="general foundicon-tools"><p>tools</p></i></li>
                <li><i class="general foundicon-globe"><p>globe</p></i></li>
                <li><i class="general foundicon-cloud"><p>cloud</p></i></li>
                <li><i class="general foundicon-error"><p>error</p></i></li>
                <li><i class="general foundicon-right-arrow"><p>right-arrow</p></i></li>
                <li><i class="general foundicon-left-arrow"><p>left-arrow</p></i></li>
                <li><i class="general foundicon-up-arrow"><p>up-arrow</p></i></li>
                <li><i class="general foundicon-down-arrow"><p>down-arrow</p></i></li>
                <li><i class="general foundicon-trash"><p>trash</p></i></li>
                <li><i class="general foundicon-add-doc"><p>add-doc</p></i></li>
                <li><i class="general foundicon-edit"><p>edit</p></i></li>
                <li><i class="general foundicon-lock"><p>lock</p></i></li>
                <li><i class="general foundicon-unlock"><p>unlock</p></i></li>
                <li><i class="general foundicon-refresh"><p>refresh</p></i></li>
                <li><i class="general foundicon-paper-clip"><p>paper-clip</p></i></li>
                <li><i class="general foundicon-video"><p>video</p></i></li>
                <li><i class="general foundicon-photo"><p>photo</p></i></li>
                <li><i class="general foundicon-graph"><p>graph</p></i></li>
                <li><i class="general foundicon-idea"><p>idea</p></i></li>
                <li><i class="general foundicon-mic"><p>mic</p></i></li>
                <li><i class="general foundicon-cart"><p>cart</p></i></li>
                <li><i class="general foundicon-address-book"><p>address-book</p></i></li>
                <li><i class="general foundicon-compass"><p>compass</p></i></li>
                <li><i class="general foundicon-flag"><p>flag</p></i></li>
                <li><i class="general foundicon-location"><p>location</p></i></li>
                <li><i class="general foundicon-clock"><p>clock</p></i></li>
                <li><i class="general foundicon-folder"><p>folder</p></i></li>
                <li><i class="general foundicon-inbox"><p>inbox</p></i></li>
                <li><i class="general foundicon-website"><p>website</p></i></li>
                <li><i class="general foundicon-smiley"><p>smiley</p></i></li>
                <li><i class="general foundicon-search"><p>search</p></i></li>
                <li><i class="general foundicon-phone"><p>phone</p></i></li>
        	</ul><hr>
        </div>
    </div>


	
	<div class="row">
        <div class="twelve columns">
            <h2>General Enclosed Set</h2>
      		<ul class="icons">
      			<li><i class="enclosed foundicon-settings"><p>settings</p></i></li>
                <li><i class="enclosed foundicon-heart"><p>heart</p></i></li>
                <li><i class="enclosed foundicon-star"><p>star</p></i></li>
                <li><i class="enclosed foundicon-plus"><p>plus</p></i></li>
                <li><i class="enclosed foundicon-minus"><p>minus</p></i></li>
                <li><i class="enclosed foundicon-checkmark"><p>checkmark</p></i></li>
                <li><i class="enclosed foundicon-remove"><p>remove</p></i></li>
                <li><i class="enclosed foundicon-mail"><p>mail</p></i></li>
                <li><i class="enclosed foundicon-calendar"><p>calendar</p></i></li>
                <li><i class="enclosed foundicon-page"><p>page</p></i></li>
                <li><i class="enclosed foundicon-tools"><p>tools</p></i></li>
                <li><i class="enclosed foundicon-globe"><p>globe</p></i></li>
                <li><i class="enclosed foundicon-cloud"><p>cloud</p></i></li>
                <li><i class="enclosed foundicon-error"><p>error</p></i></li>
                <li><i class="enclosed foundicon-right-arrow"><p>right-arrow</p></i></li>
                <li><i class="enclosed foundicon-left-arrow"><p>left-arrow</p></i></li>
                <li><i class="enclosed foundicon-up-arrow"><p>up-arrow</p></i></li>
                <li><i class="enclosed foundicon-down-arrow"><p>down-arrow</p></i></li>
                <li><i class="enclosed foundicon-trash"><p>trash</p></i></li>
                <li><i class="enclosed foundicon-add-doc"><p>add-doc</p></i></li>
                <li><i class="enclosed foundicon-edit"><p>edit</p></i></li>
                <li><i class="enclosed foundicon-lock"><p>lock</p></i></li>
                <li><i class="enclosed foundicon-unlock"><p>unlock</p></i></li>
                <li><i class="enclosed foundicon-refresh"><p>refresh</p></i></li>
                <li><i class="enclosed foundicon-paper-clip"><p>paper-clip</p></i></li>
                <li><i class="enclosed foundicon-video"><p>video</p></i></li>
                <li><i class="enclosed foundicon-photo"><p>photo</p></i></li>
                <li><i class="enclosed foundicon-graph"><p>graph</p></i></li>
                <li><i class="enclosed foundicon-idea"><p>idea</p></i></li>
                <li><i class="enclosed foundicon-mic"><p>mic</p></i></li>
                <li><i class="enclosed foundicon-cart"><p>cart</p></i></li>
                <li><i class="enclosed foundicon-address-book"><p>address-book</p></i></li>
                <li><i class="enclosed foundicon-compass"><p>compass</p></i></li>
                <li><i class="enclosed foundicon-flag"><p>flag</p></i></li>
                <li><i class="enclosed foundicon-location"><p>location</p></i></li>
                <li><i class="enclosed foundicon-clock"><p>clock</p></i></li>
                <li><i class="enclosed foundicon-folder"><p>folder</p></i></li>
                <li><i class="enclosed foundicon-inbox"><p>inbox</p></i></li>
                <li><i class="enclosed foundicon-website"><p>website</p></i></li>
                <li><i class="enclosed foundicon-smiley"><p>smiley</p></i></li>
                <li><i class="enclosed foundicon-search"><p>search</p></i></li>
                <li><i class="enclosed foundicon-phone"><p>phone</p></i></li>
            </ul><hr>
        </div>
	</div>

	
	<div class="row">
        <div class="twelve columns">
            <h2>Social Set</h2>
            <ul class="icons">
      			<li><i class="social foundicon-thumb-up"><p>thumb-up</p></i></li>
                <li><i class="social foundicon-thumb-down"><p>thumb-down</p></i></li>
                <li><i class="social foundicon-rss"><p>rss</p></i></li>
                <li><i class="social foundicon-facebook"><p>facebook</p></i></li>
                <li><i class="social foundicon-twitter"><p>twitter</p></i></li>
                <li><i class="social foundicon-pinterest"><p>pinterest</p></i></li>
                <li><i class="social foundicon-github"><p>github</p></i></li>
                <li><i class="social foundicon-path"><p>path</p></i></li>
                <li><i class="social foundicon-linkedin"><p>linkedin</p></i></li>
                <li><i class="social foundicon-dribbble"><p>dribbble</p></i></li>
                <li><i class="social foundicon-stumble-upon"><p>stumble-upon</p></i></li>
                <li><i class="social foundicon-behance"><p>behance</p></i></li>
                <li><i class="social foundicon-reddit"><p>reddit</p></i></li>
                <li><i class="social foundicon-google-plus"><p>google-plus</p></i></li>
                <li><i class="social foundicon-youtube"><p>youtube</p></i></li>
                <li><i class="social foundicon-vimeo"><p>vimeo</p></i></li>
                <li><i class="social foundicon-flickr"><p>clickr</p></i></li>
                <li><i class="social foundicon-slideshare"><p>slideshare</p></i></li>
                <li><i class="social foundicon-picassa"><p>picassa</p></i></li>
                <li><i class="social foundicon-skype"><p>skype</p></i></li>
                <li><i class="social foundicon-instagram"><p>instagram</p></i></li>
                <li><i class="social foundicon-foursquare"><p>foursquare</p></i></li>
                <li><i class="social foundicon-delicious"><p>delicious</p></i></li>
                <li><i class="social foundicon-chat"><p>chat</p></i></li>
                <li><i class="social foundicon-torso"><p>torso</p></i></li>
                <li><i class="social foundicon-tumblr"><p>tumblr</p></i></li>
                <li><i class="social foundicon-video-chat"><p>video-chat</p></i></li>
                <li><i class="social foundicon-digg"><p>digg</p></i></li>
                <li><i class="social foundicon-wordpress"><p>wordpress</p></i></li>
      		</ul><hr>
        </div>

    </div>
    

    
    <div class="row">
        <div class="twelve columns">
            <h2>Accessibility Set</h2>
            <ul class="icons">
                <li><i class="accessibility foundicon-wheelchair"><p>wheelchair</p></i></li>
                <li><i class="accessibility foundicon-speaker"><p>speaker</p></i></li>
                <li><i class="accessibility foundicon-fontsize"><p>fontsize</p></i></li>
                <li><i class="accessibility foundicon-eject"><p>eject</p></i></li>
                <li><i class="accessibility foundicon-view-mode"><p>view-mode</p></i></li>
                <li><i class="accessibility foundicon-eyeball"><p>eyeball</p></i></li>
                <li><i class="accessibility foundicon-asl"><p>asl</p></i></li>
                <li><i class="accessibility foundicon-person"><p>person</p></i></li>
                <li><i class="accessibility foundicon-question"><p>question</p></i></li>
                <li><i class="accessibility foundicon-adult"><p>adult</p></i></li>
                <li><i class="accessibility foundicon-child"><p>child</p></i></li>
                <li><i class="accessibility foundicon-glasses"><p>glasses</p></i></li>
                <li><i class="accessibility foundicon-cc"><p>cc</p></i></li>
                <li><i class="accessibility foundicon-blind"><p>blind</p></i></li>
                <li><i class="accessibility foundicon-braille"><p>braille</p></i></li>
                <li><i class="accessibility foundicon-iphone-home"><p>iphone-home</p></i></li>
                <li><i class="accessibility foundicon-w3c"><p>w3c</p></i></li>
                <li><i class="accessibility foundicon-css"><p>css</p></i></li>
                <li><i class="accessibility foundicon-key"><p>key</p></i></li>
                <li><i class="accessibility foundicon-hearing-impaired"><p>hearing-impaired</p></i></li>
                <li><i class="accessibility foundicon-male"><p>male</p></i></li>
                <li><i class="accessibility foundicon-female"><p>female</p></i></li>
                <li><i class="accessibility foundicon-network"><p>network</p></i></li>
                <li><i class="accessibility foundicon-guidedog"><p>guidedog</p></i></li>
                <li><i class="accessibility foundicon-universal-access"><p>universal-access</p></i></li>
                <li><i class="accessibility foundicon-elevator"><p>elevator</p></i></li>
            </ul>
        </div>
    </div>
</div>
