<div class="row">
	<div class="large-12 columns">
		<h2 class="title">Place a Service Call</h2>
	</div>
	<div class="large-5 columns">
		<h3>We need 3 things from you:</h3>
		<ol>
			<li>Your contact information</li> 
			<li>The SOS# of the machine</li>
			<li>A description the problem with the machine</li> 
		</ol>
		<p>If you have any trouble, feel free to call us or leave us a comment at the bottom of the page.</p>
	</div>
	<div class="large-7 columns">
		<div class="shadow">
			<h4 class="ticket ServiceCall">Service Call Ticket</h4>
			<%= render '/service_calls/form' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h2 class="title">Order Supplies</h2>
	</div>
	<div class="large-5 columns">
		<h3>We need 3 things from you:</h3>
		<ol>
			<li>Your contact information</li> 
			<li>The SOS# of the machine</li>
			<li>The supply item or items that you'd like to order.</li> 
		</ol>
		<p>If you have any trouble, feel free to call us or leave us a comment at the bottom of the page.</p>
	</div>
	<div class="large-7 columns">
		<div class="shadow">
			<h4 class="ticket SupplyOrder">Supply Order Ticket</h4>
			<%= render '/supply_orders/form' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h2 class="title">Submit a Meter Reading</h2>
	</div>
	<div class="large-5 columns">
		<h3>We need 3 things from you:</h3>
		<ol>
			<li>Your contact information</li> 
			<li>The SOS# of the machine</li> 
			<li>Meter Reading</li> 
		</ol>
		<p>If you have any trouble, feel free to call us or leave us a comment at the bottom of the page.</p>
	</div>
	<div class="large-7 columns">
		<div class="shadow">
			<h4 class="ticket Meter">Meter Reading Ticket</h4>
			<%= render '/meters/form' %>
		</div>
	</div>
</div>

<%= javascript_tag do %>
  mixpanel.track('Support');
<% end %>