<div class="admin row box">
	<div class="twelve columns top">
		<h2>Edit <%= @featured_picture.name %></h2>
	</div>
	<div class="twelve columns">

		<%= render 'form' %>

		<%= link_to 'Show', @featured_picture %> |
		<%= link_to 'Back', featured_pictures_path %>
	</div>
</div>
