<div class="admin row box">
	<div class="twelve columns top">
		<h2>New Featured Picture</h2>
	</div>
	<div class="twelve columns">

	<%= render 'form' %>

	<%= link_to 'Back', featured_pictures_path %>

	</div>
</div>
