section.homemain {
  background: url(taskalfa6550ci.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding: 10% 0;
	position: relative;
	.row {
		padding: 0 15px;
	}
	.lead {
		background: rgba(0,0,0,0.65);
		padding: 25px;
		h1, h2, h3 {
			color: white;
			font-weight: 300;

		}
	}
	.featured-image {
		bottom: 10px;
		color: #fff;
		font-size: 14px;
		line-height: normal;
		opacity: 0.8;
		position: absolute;
	}
	.featured-image:hover {
		opacity: 1;
	}
}

section.groupfeatures {
	background: white;
	padding: 50px 0;

	.title {
		border: none;
		font-weight: 100;
	}
	.row {
		padding: 0 15px;
	}
	.groups {
		height: 200px;
		width: 200px;
		display: block;
		margin: auto;
	}

	.group_image {
		height: 200px;
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;

		margin-top: 1px;
	}
	h2.groupname {
		text-align: center;
		font-weight: 100;
	}
	[class*="column"]+[class*="column"]:last-child {
		float: left;
	}

	a.moreinfo {
		color: white;
		background: #222;
		text-align: center;
		display: table;
		padding: 15px 50px;
		margin: 15px auto;
	}
	a.moreinfo:hover {
		background: #d00;
	}

}
.storeitem {
	width: 25%;
	float: left;
	display: block;
	margin: 0 -1px 0 0;
	border: 1px solid #CCC;
	background-size: 80px;
	background-position: center 5px;
	background-repeat: no-repeat;
	border-top: none;
}
.storeitem:first-child {
	border-top: 1px solid #CCC;
}
.storeitem:nth-child(2) {
	border-top: 1px solid #CCC;
}
.storeitem:nth-child(3) {
	border-top: 1px solid #CCC;
}
.storeitem:nth-child(4) {
	border-top: 1px solid #CCC;
}

@media only screen and (max-width: 768px) { 
	.storeitem {
		width: 50%;
		border-top:none;
	}
	.storeitem:first-child {
		border-top: 1px solid #CCC;
	}
	.storeitem:nth-child(2) {
		border-top: 1px solid #CCC;
	}
	.storeitem:nth-child(3) {
		border-top: none;
	}
	.storeitem:nth-child(4) {
		border-top: none;
	}
}

@media only screen and (max-width: 480px) { 
	.storeitem {
		width: 100%;
		border-top:none;
	}
	.storeitem:first-child {
		border-top: 1px solid #CCC;
	}
	.storeitem:nth-child(2) {
		border-top: none;
	}
	.storeitem:nth-child(3) {
		border-top: none;
	}
	.storeitem:nth-child(4) {
		border-top: none;
	}
}