/*
 *= require_self
 *= require foundation
 *= require 'font-awesome'
 *= require 'previous'
 *= require 'z'
 */

[data-clearing] li {
	margin-right: 0px;
}

textarea { height: auto !important; }
.copyright {
	background: #ddd;
	padding-top: 10px !important;
	color: #BCBCBC;
	ul {
		text-align: center;
		width: 100%;
	}
	ul li {
		padding: 0 10px;
	}
	ul li a {
		color: #333;
		border-bottom: dotted 1px #333;
	}
	ul li:hover a {
		color: #111;
		border-color: #111;
	}
}

.privacy {
	min-height: 100px;
}

.page-padding {
	padding-left: 20px;
	padding-right: 20px;
}

.copyright ul li {
	display: inline;
}

img.brand { width: 150px; }

.top-bar { margin:0; }
h1.super { color: white; font-size: 80px; line-height: 80px; margin-bottom: 12px;  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px; text-align: right; }
h1.super.last-line { color:#d00;}

.mcontainer {width:1000px;margin: 20px auto;max-width: 100%;}
.box { background: white; width: 1000px; max-width: 100%; margin: 10px auto; padding: 0; box-shadow: 0 0 15px rgba(0, 0, 0, 0.13); -moz-box-shadow: 0 0 15px rgba(0,0,0,0.13); -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);}
.shadow {background: white; box-shadow: 0 0 15px rgba(0, 0, 0, 0.13); -moz-box-shadow: 0 0 15px rgba(0,0,0,0.13); -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.13); }


.simplified { margin: 0 auto; }
.prodnav { background:rgb(33,33,33); background:rgba(33,33,33,0.9); }
.messnav { }
.adminnav { background:rgb(0,136,204); background:rgba(0,136,204,0.8); }
.title.messnav h1 {  }
.title.adminnav h1 { color: white; }

.top-bar { margin: 0; }
.title h1 { color: #d00; text-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px; font-size: 70px; }

.title h3 { margin:20px 0 20px -30px; padding:5px 30px; background: rgba(255,255,255,0.9); }

h3.title { color: #333; text-align: center }

h3.title a { color:#d00; }
h3.title a:hover { color:#b00; }

h4.title { color: #d00; }

p.name { color: #d00; margin:0; padding:5px; font-size: 14px; }

.sect { box-shadow: 0 4px 2px -2px #eee;}
.orbit-bullets li.has-thumb { width: 100px; height: 75px; }
.sub-nav { width: 100%; }

.specs { padding: 0 30px; }

.mainimage {margin: 0; text-align: center;}
.mainimage img { max-height: 400px;  }

.hi {}
.wrapper { background: #112; height: 400px; margin-bottom: -400px; margin-top: 0; }

.ppicture div { padding:5px; height:330px; background:white; }
.ppicture img { display: table; margin: 0 auto 10px auto; height: 175px; }

.accessories, .supplies { width:100%; background: white; }
.trs { background: white; }

.prod-admin {margin-top: -20px; color:white; font-weight:bold; background: #d00; background: rgba(221,0,0,0.9);}
.prod-admin div { padding: 10px;}
.prod-admin a { color: #eee; }
.prod-admin a:hover { color:white; }

.mess-admin {margin-top: -20px; color:white; font-weight:bold; }
.mess-admin div { padding: 10px;}
.mess-admin a { color: #eee; }
.mess-admin a:hover { color:white; }

.thumbnail { display: table; margin:auto; padding: 15px; }
.downloads ul li { list-style: none; }

.icons li i { width:20px; font-size: 20px; }
.icons li { float:left; padding:10px; list-style:none; }

ul.edit li {float:left; list-style:none; margin:0 5px;}

ul.edit li p { font-style:bold; }

ul.edit li i { text-align: center; margin-bottom: -25px;}

.user { color:white; }

.button.dd ul {-webkit-box-sizing: content-box;-moz-box-sizing: content-box; box-sizing: content-box; display: none; position: absolute; left: -1px; top:37px; background: white; background: rgba(255, 255, 255, 0.95); list-style: none; margin: 0; padding: 0; border: 1px solid #CCC; border-top: none; min-width: 100%; z-index: 40;}
.button.dd ul li { width: 100%; cursor: pointer; padding: 0; min-height: 18px; line-height: 18px; margin: 0; white-space: nowrap; list-style: none;}
.button.dd  ul li a { display: block; color: #555; font-size: 13px; font-weight: normal; padding: 6px 14px; text-align: left; }
.button.dd  ul li a:hover { background:#95CDFB; }
.button.dd:hover + .button.dd ul { display: block; }

.large i { font-size: 100px; line-height: 100px; display: run-in; }

#menu ul { margin:0; margin-left: -20px; }
#menu ul li ul li ul { margin:0; }
.cat { background: rgba(0, 136, 204, 0.1); }
.cat ul { margin: 14px inherit; }

p.menu { margin-bottom: 0;}
p.menu { line-height:40px;}
p.menu a {
	color: #F8CCCC;
	font-weight: bold;
	float: right;
	background: #d00;
	line-height: 40px;
	padding: 0 15px;
	margin-top: -40px;
}
p.menu a:hover { color: white; }

ul.message-admin {  }
ul.message-admin li { list-style: none; float:left; }

h2.fas { background: #333; background: rgba(0,0,0,0.8); padding: 10px 5px; color: #d00; margin: 0 0 -60px 0; position: relative; z-index: 35; width: 50%; }

.prod-footer dt { font-weight: bold; }

.prod-footer h4 { color: #333; border-bottom: #333 dashed 1px; padding: 5px 0; margin: 10px 0; }

.prod-footer { color: #333; padding: 15px 0 0; background: #ddd; }
.prod-footer ul { float: left; margin: 0 50px 30px 0}
.prod-footer ul li label { text-decoration:underline;   }
.prod-footer ul li { list-style:none;   }
.prod-footer ul li a { color: #333; }
.prod-footer ul li:hover a { text-decoration: underline; }

.copyright img.logo { width:175px; display: table; margin: auto; }
.copyright p { text-align:center; }
.signin a { padding: 10px; }

.home-edit li { list-style: none; margin: 5px 0;}

.prod-nav ul { padding-top: 38px; margin-bottom: 0; }
.prod-nav ul li { list-style: none; float:left; padding: 0 5px; }
.prod-nav h1 { margin-bottom: 0; }

.bread { background: #f6f6f6; margin-bottom:0 }
.bread ul.breadcrumbs { background:none; border: none; margin-bottom:0; padding: 6px 0 7px;}
.bread ul.breadcrumbs li a, .bread ul.breadcrumbs li:hover a  { color: #d00; }

.bb { padding-bottom: 10px; }

img.slogo { height: 100px;}


input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.savings h3 {
	text-align: center;
}
.savings a.getaquote h3 { 
	color:#5da423; 
	text-align: center; 	
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	transition: all 200ms ease-out; 
	line-height:100px;
}
.savings a.getaquote:hover h3 { color:#396516; }
.s { color: #d00; }
.cpc { display: none; background: #f3f3f3; padding: 0 15px; margin: 0 -15px 15px;}
.cpc::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #f3f3f3 transparent transparent transparent;
	margin-bottom: -10px;
	left: 150px;
}
.close-cpc {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 0;
	color: #aaa;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
	font-weight: bold;
	cursor: pointer;
}
.close-cpc:hover {
	color: #555;
}
.cntrd { text-align:center; }

header.top {
	background: white; 
	height: 100px;
	border-bottom: #ddd 1px solid;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.13); 
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.13); 
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
	a.logo img {
		height: 80px;
		margin: 10px 15px;
		float: left;
	}
	h2 { color: #d00 }
	ul.menu {
		float: right;
		margin: 0 15px;



		li {
			float: left;
			list-style: none;
			padding: 0 15px;
			line-height: 100px;
			a {
				color: #222222;
				line-height: 100px;
			}
			a.active {
				color:#d00;
				line-height: 100px;
			}
		}

		li:hover {
			a {
				color: #d00;
			}
		}
	}
}

div#gallery {
	padding: 15px 0;
}

@import "specials";
@import "home";

@media only screen and (max-width: 1030px) {
  	h3.title { margin:10px -15px 10px 0; }
}

@media only screen and (max-width: 940px) {
  	 .banner { display:none; }
  	 .not-banner { display:block; width:115px;}
  	 h2.fas { font-size:30px; }
}

@media only screen and (max-width: 767px) { 
	.specs { padding:0; } 
	h3.title { margin: 10px 0;  padding:5px;} 
	.mainimage { margin-top:0 ; } 
	.wrapper { margin-top: 0;} 
	h1.super { font-size: 40px; line-height: 40px; }
	.title h1 { font-size: 30px; margin:0;}
	.title h4.subheader { margin-bottom:0; }
	h3.title { font-size: 25px ; 	}
	.product-placeholder { padding-top: 0; }
	ul.edit li span, .user { display:none;}

	ul.edit { float: right; padding-bottom: 10px; height: 29px; }

	ul.top.right { float: right; }

	.button.dd ul {right: -1px;top:29px; left:-80px;}

	.top-menu { display: none; margin-bottom:10px;}

	#menu ul { margin:0; }
	.prod-nav ul { padding-top: 0; }
	img.slogo { height: 100px;}
}
