[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}
[class*="enclosed foundicon-"]:before {
  font-family: "GeneralEnclosedFoundicons";
}
[class*="accessibility foundicon-"]:before {
  font-family: "AccessibilityFoundicons";
}

body { background: url('fabric_plaid.png'); }
.rbar-container { background: transparent; border-top: none;}
.menu-bar { background: transparent; }
.top-menu ul.nav-bar li h4.menu-links { margin: 0; padding:15px; }

.nav-bar li.has-flyout h4.menu-links a:first-child { padding-right: 30px; }
.nav-bar li.has-flyout h4.menu-links a:first-child::after {
content: "";
display: block;
width: 0;
height: 0;
border: solid 6px;
border-color: #d00 transparent transparent transparent;
position: absolute;
right: 20px;
top: 22px;
}

.nav-bar li.has-flyout a:first-child::after { border-color: #d00 transparent transparent transparent; }
.rbar { background: white; }

.rbar ul li a, .rbar ul li a:hover, .rbar ul li a  { color: #d00; }

.button.home { background:white; }
.button.home:hover { background:#f6f6f6; }
.shadow { border: #f6f6f6 solid thin; margin:10px 0; }
.shadow form { padding: 0 15px 10px; }
.copyright { background: transparent; } 

.break { border-bottom: #d00 solid thin;  }

h2.title { font-size: 54px; border-bottom:#ccc solid thin; text-align: center; }
@media only screen and (min-width: 767px) {
	#menu { display: block !important; overflow: visible !important; }
}
@media only screen and (max-width: 767px) { 
	.homephrase h1 { font-size: 24px; }
	h2.title { font-size: 36px; }
	#menu { display: none; }
	.rbar ul li a, .rbar ul li a:hover, .rbar ul li a  { color: white; }
	.nav-bar li.has-flyout h4.menu-links a:first-child::after { border-color: white transparent transparent transparent; }
}