[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}
[class*="enclosed foundicon-"]:before {
  font-family: "GeneralEnclosedFoundicons";
}
[class*="accessibility foundicon-"]:before {
  font-family: "AccessibilityFoundicons";
}