// body { background: #EBEBEB; }
.rbar-container { background: transparent; border-top: none;}
.top-menu { padding-top: 48px; }
.top-menu ul.nav-bar li h4.menu-links { margin: 0; padding:15px; }

.nav-bar li.has-flyout h4.menu-links a:first-child { 
	padding-right: 30px; 
}

.nav-bar li.has-flyout h4.menu-links a:first-child::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 6px;
	border-color: #d00 transparent transparent transparent;
	position: absolute;
	right: 20px;
	top: 22px;
}

.nav-bar li.has-flyout a:first-child::after { 
	border-color: #d00 transparent transparent transparent; 
}

.rbar { 
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
}

.rbar ul li a, .rbar ul li a:hover, .rbar ul li a  { color: #d00; }

.button.home:hover { background:#f6f6f6; }
/*.shadow { border: #f6f6f6 solid thin; margin:10px 0; }*/
.shadow form { padding: 0 15px 10px; }
.copyright { background: transparent; } 

h2.title { font-size: 54px; border-bottom:#ccc solid thin; text-align: center; font-weight: 100;}

iframe.maps { width:100%; height:450px; }

.copyright a p { color: #ccc; cursor: text; }

.csm:after {
	content: '';
	display: inline-block;
	height: 7px;
	width: 7px;
	border-right: 4px solid white;
	border-bottom: 4px solid white;
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: 15px;
	vertical-align: top;
}

#accessories {
	h6 {
		font-weight: normal;
	}
}

@media screen and (min-width: 768px) {
	.navicontainer {
		display:none;
	}
	ul.menu {
		display: block !important;
	}
}


@media only screen and (min-width: 767px) {
	#menu { display: block !important; overflow: visible !important; }
}
@media only screen and (max-width: 767px) {

	.small-block-grid-3>li { width: 31%; }
	iframe.maps { width:100%; height:300px; }
	.top-menu { padding-top: 0; }
	.homephrase { 
		text-align: center; 
		h1.subheader { font-size: 44px;}
	}
	h2.title { font-size: 36px;}
	#menu { display: none; }
	.rbar ul li a, .rbar ul li a:hover, .rbar ul li a  { color: white; }
	.nav-bar li.has-flyout h4.menu-links a:first-child::after { border-color: white transparent transparent transparent; }
}

@media screen and (max-width: 767px) {
	.navicontainer{
		position: absolute;
		top: 0;
		right: 0;
		padding: 44px 40px ; 
		cursor: pointer;
		.navicon {
			content: "";
			display: block;
			margin: 0;
			width: 25px;
			border-top: #222 solid 12.5px;
			border-right: transparent solid 12.5px;
			border-left: transparent solid 12.5px;
		}
	}
	header.top {
		ul.menu {
			display: none;
			cursor: pointer;
			text-align: center;
			margin: 0;
			padding: 0 15px;
			width: 100%;
			float: none;
			position: absolute;
			z-index: 1;
			top: 100px;
			li {
				width: 100%;
				float: none;
				background: white;
				h5 {
					margin: 0;
					a {
						display: block;
						color: #999;
						text-shadow: none;
						text-decoration: none;
						line-height: 40px;
					}
					a.active {
						line-height: 40px;
					}
				}
			}
			li:hover {
				width: 100%;
				float: none;
				a {
					color: #d00;
				}
			}
		}
	}
	.navicontainer:hover {
		.navicon {
			border-top: #d00 solid 12.5px;
		}
	}

	.navicontainer.clicked:hover {
		.navicon {
			border-bottom: #d00 solid 12.5px;
		}
	}

	.navicontainer.clicked {
		.navicon {
			border-top: none;
			border-bottom: #222 solid 12.5px;
			border-right: transparent solid 12.5px;
			border-left: transparent solid 12.5px;
		}
	}
}

.upload {
  border-top: solid 1px #CCC;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #d00;
    .bar {
      height: 20px;
      background: #d00;
    }
  }
}

.linkage {
	position: fixed;
	background: white;
	border: 1px #ddd solid;
	border-bottom:none;
	text-align: center;
	top: 25%;
	z-index: 1;
	ul {
		margin: 0;
		li {
			list-style: none;
			border-bottom: 1px #ddd solid;
			line-height: 35px;
			font-weight: bold;
			font-size: 13px;
		}
	}
	a {
		color: $red;
		padding: 0 30px;
	}
	a:hover {
		color: $darkred;
	}
}

@media only screen and (max-width: 1000px) { 
	.linkage {
		position: relative;
		border: none;
		display: table;
		margin: auto;
		border-bottom: 1px #ddd solid;
		top: -15px;
		ul {
			li {
				float: left;
				border: none;
			}
		}
	}

}