<% provide(:title, "Brands".html_safe) %>

<div class="row">
  <% for brand in @brands %>
  <div class="twelve columns">
    <h1><%= image_tag brand.image_url(:main).to_s if brand.image? %> <%= link_to brand.name, edit_brand_path(brand) %></h1>
    <h2 class="subheader"><%= brand.description %></h2>
  </div>
  <% end %>
  <%= link_to "<i class='icon-plus'></i> New Brand".html_safe, new_brand_path %>
</div>