<div class="admin row box">
	<div class="twelve columns top">
		<h2>Editing category</h2>
	</div>
	<div class="twelve columns">
		<%= render 'form' %>

		<%= link_to 'Show', @category %> |
		<%= link_to 'Back', categories_path %>
	</div>
</div>
