<% provide(:title, @product.name) %>


<div class="wrapper"></div>
<div class="row title homepage">
  <h1 class="right"><%= @product.name %></h1>
</div>
 <div class="row title homepage">
  <h3 class="subheader right"><%= @product.excerpt %></h3>
</div>

