	<% [:notice, :error, :alert, :success].each do |level| %>
		<% unless flash[level].blank? %>
		<div data-alert class="<%= flash_class(level) %>">
			<div class="row">
				<div class="large-12 columns">
					<%= content_tag :span, flash[level] %>
				</div>
			</div>
		</div>
	  <% end %>
	<% end %>