	<% [:notice, :error, :alert, :success].each do |level| %>
		<% unless flash[level].blank? %>
		<div data-alert class="<%= flash_class(level) %>">
			<%= content_tag :span, flash[level] %>
			<a href="" class="close">&times;</a>
		</div>
	  <% end %>
	<% end %>