<div class="container footer">
  <br />
  <div class="page-padding">
    <div class="row">
      <div class="four columns">
        <p>Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
      </div>
      <div class="four columns">
        <p>Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis.</p>
      </div>
      <div class="four columns">
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum.</p>
      </div>
    </div>
  </div>
</div>


<div class="container copyright">
  <div class="page-padding">
    <div class="row">
      <div class="five columns">
        <p>&copy; 2012 Simplified Office Solutions. All rights reserved.</p>
      </div>
      <div class="seven columns">
        <ul class="right">
        
          <li><a href="/" class="home" title="Home">Home</a></li>
          <li><a href="/products" class="products" title="Products">Products</a></li>
          <li><a href="/services" class="services" title="Services">Services</a></li>
          <li><a href="/about" class="about" title="About">About</a></li>
          <li><a href="/blog" class="blog" title="Blog">Blog</a></li>
          <li><a href="/sitemap" class="sitemap" title="Sitemap">Sitemap</a></li>
          <li><a href="/contact" class="contact" title="Contact Us">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>  
</div>