<div class="prod-footer">
  <div class="row collapse">
    <div class="twelve columns">
      <h5>Products by Category:</h5>
    </div>
    <div class="twelve columns">
      <% for category in @categories %>
      <ul>
        <li><label><%= link_to category.name, category %></label></li>
        <% for product in category.products.order(:name) %>
        <li><%= link_to product.name, product %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
<div class="copyright">
    <div class="row">
      <div class="five columns">
        <p>&copy; 2012 Simplified Office Solutions. All rights reserved.</p>
      </div
      <div class="seven columns">
        <ul class="right">
          <li><a href="/" title="Home">Home</a></li>
          <li><%= link_to "Products", products_path %></li>
        </ul>
      </div>
    </div>
</div>