<div class="container footer">
  <div class="page-padding">
    <div class="row">
      <div class="four columns">
        <h3>Products</h3>
        <ul>
          <% for category in @categories %>
          <li><%= link_to category.name, category %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container copyright">
  <div class="page-padding">
    <div class="row">
      <div class="five columns">
        <p>&copy; 2012 Simplified Office Solutions. All rights reserved.</p>
      </div
      <div class="seven columns">
        <ul class="right">
          <li><a href="/" class="home" title="Home">Home</a></li>
          <li><a href="" class="products" title="Products">Products</a></li>
          <li><a href="" class="services" title="Services">Services</a></li>
          <li><a href="/about" class="about" title="About">About</a></li>
          <li><a href="" class="blog" title="Blog">Blog</a></li>
          <li><a href="" class="sitemap" title="Sitemap">Sitemap</a></li>
          <li><a href="" class="contact" title="Contact Us">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>  
</div>