<nav class="top-bar">
  <ul>
    <li class="name"><h1><%= link_to'Simplified Office Solutions', root_path %></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="left">
      <li><a href="#">Products</a></li>
    </ul>

    <ul class="right">
        <li><%= link_to'Example', example_path %></li>
      	<li><%= link_to'About', about_path %></li>
      	<li class="divider"></li>
    		<li class="search">
    		  <form>
    		    <input type="search">
    		  </form>
    		</li>

    		<li class="has-button">
    		  <a class="small button" href="#">Button!</a>
    		</li>
        
        </ul>
  </section>
</nav>