<header class="top <% if user_signed_in?%> in<% end %>">
  <a class="logo" href="<%= root_url %>"><%= image_tag("logo.png") %></a>
  <ul class="menu">
    <li>Products</li>
    <li>Support</li>
    <li>Company</li>
  </ul>
  <h3>1 (402) 935-7936 </h3>
</header>
